extends ../layout
block content
	blockquote.layui-elem-quote #{newsId?'编辑':'添加'}
	form.layui-form(action="/news/save")
		if newsId
			input(type="hidden" name="newsId" value=newsId)
		.layui-form-item.layui-row
			label.layui-form-label 标题*：
			.layui-input-block.layui-col-md6
				input.layui-input(name="title",placeholder="请输入标题",autocomplete="off",value=title,lay-verify="required")
		.layui-form-item.layui-row
			label.layui-form-label 作者*：
			.layui-input-block.layui-col-md2
				input.layui-input(name="writerName",placeholder="请输入作者姓名",autocomplete="off",value=writerName,lay-verify="required")
		.layui-form-item.layui-row
			label.layui-form-label 资讯类型*：
			.layui-input-block.layui-col-md6
				select(name="type",lay-verify="required")
					//-option(value="") 请选择类型
					option(value="1", selected= type === 1) 文章
					option(value="2", selected= type === 2) 自测题
		.layui-form-item.layui-row
			label.layui-form-label 文章分类*：
			.layui-input-block.layui-col-md6
				select(name="newsClass",lay-verify="required",lay-filter="newClass")
					option(value="") 请选择分类
					option(value="1", selected= newsClass === 1) 痛风
					option(value="2", selected= newsClass === 2) 糖尿病
					option(value="3", selected= newsClass === 3) 甲状腺
					option(value="4", selected= newsClass === 4) 自测题
		.layui-form-item.layui-row
			label.layui-form-label 封面图*：
			.layui-input-block.layui-col-md6
				input(name="imgUrl",type="hidden",id="faceImg",value=imgUrl)
				button.layui-btn(type="button",id="upImg") 上传图片
				.layui-upload-list
					img.layui-upload-img(id="demo1",src=imgUrl,style="max-height:200px")
					p(id="demoText")
		.layui-form-item.layui-row
			label.layui-form-label 简介*：
			.layui-input-block.layui-col-md6
				textarea.layui-textarea(name="introduction",placeholder="请填写文章简介",autocomplete="off")=introduction
		.layui-form-item.layui-row
			label.layui-form-label 内容*：
			.layui-input-block.layui-col-md10
				script(id="editor" type="text/plain" name="context" style="width:100%;height:400px;") !{context}
		.layui-form-item
			label.layui-form-label
			.layui-input-block.layui-col-md6
				button.layui-btn(lay-submit lay-filter="formSmt") 提交
				a.layui-btn.layui-btn-primary(id="goBack" href="javascript:history.back(-1)") 返回
block script
	script(type="text/javascript",charset="utf-8",src="/ueditor/ueditor.config.js")
	script(type="text/javascript",charset="utf-8",src="/ueditor/ueditor.all.min.js")
	script(type="text/javascript",charset="utf-8",src="/ueditor/lang/zh-cn/zh-cn.js")
	script(type="text/javascript").
		//实例化ueitor
		var ue = UE.getEditor('editor');
		//Demo
		layui.use('form', function(){
			var form = layui.form;
			var $ = layui.jquery;
			//监听提交
			form.on('select(newClass)', function(data){
				// console.log(data.value);
				var change_type = $('select[name="type"]');
				if(data.value == 4){
					$('select[name="type"] option[value="2"]').attr('selected',true);
					change_type.next().find('dd').eq(1).click();
				}else{
					$('select[name="type"] option[value="1"]').attr('selected', true);
					change_type.next().find('dd').eq(0).click();
				};
			});
			form.on('submit(formSmt)', function(data){
				var fields = data.field;
				// if(fields.imgUrl==''){
				// 	layer.alert('请上传封面图',{'title':'提示信息'});
				// 	return false;
				// }
				// if(!fields.context){
				// 	console.log(fields.context);
				// 	layer.alert('请填写文章内容',{'title':'提示信息'});
				// 	return false;
				// }
				var index = layer.load(1);
				$.ajax({
					type:'post'
					,url: '/news/save'
					,data:fields
					,success:function(data){
						var res = JSON.parse(data);
						//-console.log(res);
						layer.close(index);
						if(res.errCode == 200){
							layer.alert(res.reason,{title:'提示信息',icon: 1});
							setTimeout(function(){
								location.href = '/news';
							},2000)
						}else{
							layer.alert(res.reason,{title:'提示信息',time:2000});
						}
						//qiNiuToken.token = data;
					}
				})
				return false;
			});
		});

		//封面图上传
		layui.use('upload', function(){
			//引入jquery
			var $ = layui.jquery
			,upload = layui.upload;
			//获取七牛云文件上传token
			var qiNiuToken = {};
			$.ajax({
				type:'get'
				,url: '/auth/qiNiuToken'
				,success:function(data){
					qiNiuToken.token = data;
				}
			})
			//console.log(qiNiuToken);
			//return;
			//普通图片上传
			var uploadInst = upload.render({
				elem: '#upImg'
				,url: 'http://upload.qiniu.com/'
				,data:qiNiuToken
				,before: function(obj){
					//预读本地文件示例，不支持ie8
					obj.preview(function(index, file, result){
					$('#demo1').attr('src', result); //图片链接（base64）
					});
				}
				,done: function(res){
					//console.log(res);
					if(res.state == "SUCCESS"){
						$('#faceImg').val(res.url);
					}else{
						return layer.msg('上传失败');
					}
				}
				,error: function(){
					//演示失败状态，并实现重传
					var demoText = $('#demoText');
					demoText.html('<span style="color: #FF5722;">上传失败</span> <a class="layui-btn layui-btn-mini demo-reload">重试</a>');
					demoText.find('.demo-reload').on('click', function(){
					uploadInst.upload();
					});
				}
			});
		});